.about__content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;

    .about__profile-picture {
        width: 300px;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }

    .about__text {
        flex: 1;
        max-width: 700px;

        .about__intro {
            margin-bottom: 1rem;
            line-height: 1.6;
        }

        .about__list {
            padding-left: 1rem;

            .about__list-item {
                margin-bottom: 0.5rem;
                list-style: disc;
            }
        }
    }
}


    .tech-skills {
        text-align: center;
        padding: 2rem;

        &__heading {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        &__description {
            font-size: 1rem;
            color: #515050;
            margin-bottom: 2rem;
        }

        &__icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }


.tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 40px;
        height: auto;
    }

    &__label {
        margin-top: 0.5rem;
        font-size: 0.875rem;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

    &__email {
        font-size: 1rem;
        color: black;
    }

    &__logos {
        display: flex;
        gap: 1rem;
    }

    &__logo-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
