.navbar {
  border: 2px solid black;
  border-radius: 25px;
  justify-content: space-between;
}
.navbar__logo {
  text-align: left;
  padding-left: 20px;
  position: relative;
}
.navbar__nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar__list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}
.navbar__item {
  border: none;
  list-style: none;
  justify-content: space-between;
}

.about {
  border: 2px solid;
  border-radius: 25px;
}
.about .about__heading {
  text-align: center;
  position: relative;
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}
.about .about__content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}
.about .about__content .about__profile-picture {
  width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
.about .about__content .about__text {
  flex: 1;
  max-width: 700px;
}
.about .about__content .about__text .about__intro {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.about .about__content .about__text .about__list {
  padding-left: 1rem;
}
.about .about__content .about__text .about__list .about__list-item {
  margin-bottom: 0.5rem;
  list-style: disc;
}

.tech-skills {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  padding: 2rem;
}
.tech-skills__heading {
  text-decoration: underline;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.tech-skills__description {
  font-size: 1rem;
  color: #515050;
  margin-bottom: 2rem;
}
.tech-skills__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tech-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-icon__img {
  width: 40px;
  height: auto;
}
.tech-icon__label {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.footer-links {
  border: solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.footer-links__email {
  font-size: 1rem;
  color: black;
}
.footer-links__logos {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer-links__logo-img {
  border-radius: 25px;
  gap: 2rem;
  justify-content: space-evenly;
  height: auto;
  max-width: 200px;
}
